{:duct.core/project-ns          anathema-re
 :duct.core/environment         :production

 ;:duct.server.http/http-kit {:port 3000
      ;                       :handler #ig/ref :duct.router/cascading

 :duct.module/logging           {}
 :duct.module.web/site          {}
 :duct.module/cljs              {:main anathema-re.client}

 :duct.core/handler {:middleware [#ig/ref :anathema-re.middleware/gzip]}

 :anathema-re.middleware/gzip {}

 :duct.router/cascading
                                [#ig/ref :anathema-re.handler/js
                                 #ig/ref :anathema-re.handler/example
                                 #ig/ref :anathema-re.handler/site
                                 #ig/ref :anathema-re.handler/resources
                                 #ig/ref :anathema-re.handler/api]

 :anathema-re.boundary/environ  {}
 :anathema-re.boundary.mongo/connection    {:environ #ig/ref :anathema-re.boundary/environ}
 :anathema-re.boundary/get      {:mongo #ig/ref :anathema-re.boundary.mongo/connection}
 :anathema-re.boundary/put      {:mongo #ig/ref :anathema-re.boundary.mongo/connection}

 :anathema-re.handler/example   {}
 :anathema-re.handler/site      {:get-thing #ig/ref :anathema-re.boundary/get
                                 :put-thing! #ig/ref :anathema-re.boundary/put}
 :anathema-re.handler/js {}
 :anathema-re.handler/api {:get-thing #ig/ref :anathema-re.boundary/get
                           :put-thing! #ig/ref :anathema-re.boundary/put}
 :anathema-re.handler/resources {}}
