{:duct.core/project-ns          anathema-re
 :duct.core/environment         :production

 :duct.module/logging           {}
 :duct.module.web/site          {}
 :duct.module/cljs              {:main anathema-re.client}

 :duct.router/cascading
                                [#ig/ref :anathema-re.handler/example
                                 #ig/ref :anathema-re.handler/site
                                 #ig/ref :anathema-re.handler/resources]

 :anathema-re.boundary/environ  {}
 :anathema-re.boundary/mongo    {:environ #ig/ref :anathema-re.boundary/environ}
 :anathema-re.boundary/get      {:mongo #ig/ref :anathema-re.boundary/mongo}
 :anathema-re.boundary/put      {:mongo #ig/ref :anathema-re.boundary/mongo}

 :anathema-re.handler/example   {}
 :anathema-re.handler/site      {}
 :anathema-re.handler/resources {}}
